@use "../../../variables/variables.scss" as *;
@use "../../../variables/mixins.scss" as *;
@use "../../../font/fonts.scss" as *;

.shoppingContainer{
    max-height: 45rem;
    min-height: 45rem;
    min-width: 20rem;
    overflow-y: scroll;
    border:2px solid rgba($color: #000000, $alpha: 0.4);
}
 .shoppingItems{
    .shoppingItems__click{
        >button{
            padding: 8px 16px;
        }
    }
    &__technology{
        >h3{
            max-width:40rem;
        }
    }
 }
@media (max-width: 900px){
    .shoppingContainer{
        .shoppingItems{
            .shoppingItems__technology{
                >h3{
                    max-width:220px;
                }
            }
             .orderInfor{
                >h3{
                    display: -webkit-box;
                    display: -moz-box;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    box-orient: vertical;
                    -webkit-line-clamp: 2;
                    -moz-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
@media (max-width: 600px){
    .shoppingCart{
        >section{
            padding:0.2rem;
        }
        >section>.shoppingCartHeader{
            >h2{
                font-size: 1.5rem;
            }
            >p{
                display:none;
            }
        }
        .shoppingContainer{
            max-height:35rem;
            min-height: 35rem;
            .shoppingItems{
                // height:6rem ;
                .orderInfor{
                    >h3{
                      max-width: 15rem;
                        white-space: nowrap;    
                        overflow: hidden;       
                        text-overflow: ellipsis;
                    }
                }
                >img{
                    height: 5rem;
                    width: 5rem;
                }
                .shoppingItems__click {
        
                    >button {
                        padding: 5px 10px;
                    }
                }
                .shoppingItems__technology{
                    >h3{
                        font-size: 1rem;
                        line-height: 1.2;
                        max-width:120px;
                    }
                    >p{
                        font-size: 0.8rem;
                        line-height: 1.2;
                    }
                }
            }
            .shoppingOrders{
                height:6rem ;
                >nav{
                    width: 5rem;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .shoppingItems__technology{
                    >h3{
                        display: none;
                    }
                    >p.notShow{
                        display:none;
                    }
      
                }

            }
        }
    }
}