@use "../../variables/variables.scss" as *;
@use "../../variables/mixins.scss" as *;
.header__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        @include bg-img();
        border-radius: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        box-shadow: none;
        z-index: 0;
       
    }
    >img.active {
        opacity: 1;
        z-index: 1;
    }
}
.header__container {
    max-height: 650px;
    height: 650px;

}
.store__container {
    max-width: $max-width-1400;
    margin: auto;
    width: 100%;
    padding: 1rem;
    max-height: 450px;
    background: $primary-color-gray;
    height: 450px;
    margin-top: 5rem;
    font-weight: bold;
    &--mobile{
        @media(max-width:900px){
            display:none;
        }
    }
}