$primary-color-light:#f4e5ec;
$primary-color-gray:#dbdbdb;
$primary-color:#ed3849;
$primary-color-dark:#d23141;

$text-dark:#0f172a;
$text-light:#5a5a5a;
$text-white:#ffff;
$extra-light:#f8fafc;

$text-link:#0d4eff;
$btn-click:#298ce9;
$border-bt:rgba(0, 0, 0, 0.1);
$white:#ffffff;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$font-title:2rem;

$bg-gray:#e2e2e2;
$bg-gray-sms: #f4f4f4;
$bg-black:#262626;
$bg-cart-selected:#EFEFEF;
$bg-gray2:#E2E2E2;
$bg-title-color:#C1BFBF;
$bg-white:#ffff;