@use "./navbarAndFooter/managerNavbarAndFooter.scss";
@use "./base/managerBase.scss";
@use "./Auth/managerAuth.scss";
@use "./Page/managerHome.scss";
@use "./statistical/statistical.scss";
@use "./Page/authCart/managerAuthCart.scss";