@use "../../variables/mixins.scss" as *;
@use "../../variables/variables.scss" as *;
@use "../../font/fonts.scss" as *;

.header{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $bg-gray;
    .nav__links{
        @include flexHeader();
        gap: 2rem;
        list-style: none;
        font-style: normal;
        font-optical-sizing: auto;
        font-family:$font-text3 ;
        flex: 1;
    }
    .nav__logo {
        font-size: 2rem;
        font-family: $font-text;
        color: $text-dark;
        border-bottom: none;
        font-weight: 800;
        padding: 0;
        >a:hover {
            text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.4);
            transform: translateY(-3px);
        }
    }
    @media (max-width:900px) {
        .nav__links {
            display: none;
        }
    }
   
}