.navbarMobile{
    display:none;
    &__list{
        max-width: 35rem;
        position:fixed;
        width:100%;
        border-right:1px solid #0000;
        >li>a{
            width:100%;
            display:flex;
            cursor: pointer;
        }
    
        >li:hover{
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}
@media (max-width:900px){
    .navbarMobile{
        display:block;
        &__menu {
                display: block;
            }
        &__list {
            position: fixed;  
            top: 54px;         
            width: 35rem;
            left:0;    
            max-width: 100%; 
            height: 100%;
            z-index: 1000;  
            background: white;
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        &__list--manager {
            transform: translateX(-100%);
            &.opened {
                transform: translateX(0);
            }
        }
    }
}
