@use "../../variables/variables.scss" as*;
@use "../../font/fonts.scss" as *;
.btn__seemore {
    border-radius: 5px;
    align-items: center;
    background: $bg-black;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.75rem 1.5rem;
    color: $white;
}
.btn__add {
    border-radius: 5px;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn__header{
    background: $bg-black;
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn {
    background: $bg-black;
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn__header:hover,.btn:hover {
    opacity: 0.9;
    transform: scale(1.1) translateX(10px);
}
@media (max-width: 640px) {
    .btn__header:hover {
    opacity: 0.9;
    transform: scale(1.1) translateX(0);
}
}
.btn__click2{
    background:$bg-black;
    padding: 0.5rem 1.5rem;
    color:$text-white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn__seemore:hover,
.btn__add:hover {
    transform: scale(1.1);
}

.hover__btn:hover {
    box-shadow: inset 0px 0px 8px rgb(112, 94, 94);
    opacity: 0.9;
}

.btn__click {
    background: rgba(0, 0, 0, 0.1);
}
.product__hv:hover {
    transform: scale(1.1);
}
.btn__li:hover{
    background: rgba(0, 0, 0, 0.1);
}
.btn__click2:hover{
    opacity: 0.8;
}
.btn__iconClick{
    cursor: pointer;
    font-size: 20px;
    transition: all 0.25s ease;
    color:$text-light;
}
.btn__iconClick:hover{
    color: $btn-click;
}